
body {
  background: #111;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  max-height: 60%;
}

.gridPanel {
  display: block;
}